html{
    position: relative;
    min-height: 100vh;
}

body{
    margin: 0 0 100px;
}

@media only screen and (max-width: 1000px) {
    #compLogo{
        display: none;
    }
}

#logincontainer{
    position: relative;
    margin-top: 25vh;
}

input{
    height: 40px;
    border-radius: 12px;
    border: none;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    margin-bottom: 15px;
  }


  .icon {
    padding: 10px;
    margin-left: -10%;
    min-width: 50px;
    text-align: center;
  }
  

input:focus{
    outline: none;
}

input[type=button]{
    width: 100px;
    color: #ffffff;
    background:#2d343f;
}

input[type=button]:hover{
    background: #1d2128;
}

#WindStyle{
    border-radius: 12px;
    background: #e0ecff;
    padding: 20px;
    box-shadow: 3px 3px 3px 3px grey;
}

#compLogo{
    max-width: 200px;
}

footer {
    background-color:#e5e5e5;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    overflow: hidden;
}

#footNote{
    float: left;
    margin: 5px;
}

#rightsKappa{
    float: right;
    margin: 5px;
}